<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd
                                 http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="korisnik"
                      password="{noop}korisnik"
                      authorities="READ_PRIVILEGES"/>
                <user name="admin"
                      password="{noop}sifrabroj2"
                      authorities="WRITE_PRIVILEGES, READ_PRIVILEGES"/>
            </user-service>
        <!--{noop} = NoOpPasswordEncoder-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>